<ion-header>
  <ion-toolbar>
    <ion-icon class="icon ion-padding" slot="start" name="backspace-outline" (click)="salir()"></ion-icon>
    <ion-title>Mis Documentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment value="default" color="primary" [(ngModel)]="selectedSegment">
  <ion-segment-button value="recibos">
    <ion-label>Personales</ion-label>
  </ion-segment-button>
  <ion-segment-button value="documentos">
    <ion-label>Generales</ion-label>
  </ion-segment-button>
</ion-segment>
<div *ngIf="selectedSegment === 'recibos'">
<ion-list *ngIf="recibos">
  <ion-item *ngFor="let recibo of recibos">
    <ion-label><strong>{{recibo.mes}}</strong></ion-label>
    <ion-icon name="document-attach-outline" slot="start" color="danger"></ion-icon>
    <ion-button (click)="onClick(recibo.link)" expand="block" shape="round">
      Ver recibo
    </ion-button>
  </ion-item>
</ion-list>

<ion-card *ngIf="recibos.length === 0">
  <ion-card-header>
    <ion-card-title>No tienes recibos disponibles</ion-card-title>
        <ion-card-subtitle> Aquí podrás ver tus recibos</ion-card-subtitle>
  </ion-card-header>
</ion-card>
</div>

<div *ngIf="selectedSegment === 'documentos'">

  <ion-list *ngIf="documentos">
  <ion-item *ngFor="let doc of documentos | keyvalue">
    <ion-label><strong>{{doc.key}}</strong></ion-label>
    <ion-icon name="document-attach-outline" slot="start" color="danger"></ion-icon>
    <ion-button (click)="onClick(doc.value)" expand="block" shape="round">
      Ver documento
    </ion-button>
  </ion-item>
</ion-list>

  <ion-card *ngIf="!documentos">
  <ion-card-header>
    <ion-card-title>No tienes documentos disponibles</ion-card-title>
        <ion-card-subtitle> Aquí podrás ver tus documentos</ion-card-subtitle>
  </ion-card-header>
</ion-card>

</div>

</ion-content>
