<ion-header [translucent]="true">
  <app-upbar></app-upbar>
</ion-header>

<ion-content>

  <div class="maxDiv">


  <ion-button (click)="comunicado()" class="btn" expand="block">
  <ion-icon slot="start" name="chatbubble-ellipses-outline"></ion-icon>
  Crear Comunicado
</ion-button>

  <ion-button (click)="galery()" class="btn" expand="block">
  <ion-icon slot="start" name="images-outline"></ion-icon>
  Crear Galería
</ion-button>

  <ion-button (click)="evento()" class="btn" expand="block">
  <ion-icon slot="start" name="calendar-outline"></ion-icon>
  Crear Evento
</ion-button>


  </div>



</ion-content>
