<ion-header [translucent]="true">
  <app-upbar></app-upbar>
</ion-header>

<ion-content *ngIf="userInfo" class="ion-padding" [fullscreen]="true">

  <div class="maxDiv">


  <ion-card *ngIf="instituto">
    <ion-img class="instImg" src="{{instituto.img}}"></ion-img>
    <ion-card-header>
      <ion-card-title color="dark">{{instituto.nombre}}</ion-card-title>
      <ion-card-subtitle>{{instituto.sub}}</ion-card-subtitle>
      <ion-card-subtitle>Dirección: {{instituto.dir}}</ion-card-subtitle>

      <div class="divContact">
         <ion-button href="tel:{{instituto.tel}}" fill="outline" shape="round" size="small" class="ion-margin-top">
        Teléfono: {{instituto.tel}}
      </ion-button>
        <ion-icon *ngIf="instituto.whatsapp" name="logo-whatsapp" class="icons" (click)="whatsapp()" target="_blank">
      </ion-icon>
      <ion-icon *ngIf="instituto.instagram" name="logo-instagram" class="icons iconWpp" (click)="instagram()" target="_blank">
      </ion-icon>
      <ion-icon *ngIf="instituto.web" name="globe-outline" class="icons" (click)="web()" target="_blank">
      </ion-icon>
      </div>
    </ion-card-header>

  </ion-card>

  <ion-card *ngIf="userInfo">
    <ion-card-header>
      <ion-card-subtitle>Usuario: {{userInfo.nombre}}</ion-card-subtitle>
      <ion-card-subtitle>Documento: {{userInfo.cedula}}</ion-card-subtitle>
            <!-- <ion-card-subtitle>Correo: {{userInfo.email}}</ion-card-subtitle> -->
    </ion-card-header>
    <ion-card-content>
      Grupos:
      <ion-chip color="primary" mode="ios" outline="true" size="small" *ngFor="let grupo of userInfo.grupos" class="chip">
        <ion-label class="label" color="primary">{{grupo}}</ion-label>
      </ion-chip>

    </ion-card-content>
    <ion-card-content *ngIf="instituto">
      <ion-button *ngIf="instituto.recibos === true" (click)="mostrarRecibos(userInfo.cedula, instituto.fym, userInfo.code)" expand="block" fill="solid" shape="round" class="ion-padding loginBtn" color="primary">
        <ion-icon name="document" slot="start"></ion-icon>
    Documentos y Recibos
  </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="logout()" expand="block" fill="solid" shape="round" class="ion-padding loginBtn" color="danger">
    Cerrar Sesión
  </ion-button>

    <ion-button (click)="deleteAccountOption()" expand="block" fill="outline" shape="round" class="ion-padding loginBtn" color="danger">
    Eliminar mi Cuenta
  </ion-button>

  </div>


  

</ion-content>
