<ion-header [translucent]="true">
  <app-upbar></app-upbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-padding maxDiv">
      <ion-button (click)="back()" expand="block" fill="clear" shape="round">
    <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
    Volver a la App
  </ion-button>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="Titulo" [(ngModel)]="comunicado.titulo" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start" [(ngModel)]="programar"></ion-checkbox>
      <ion-label>Desea programar la publicación de esta Galería?</ion-label>
    </ion-item>
    <ion-item class="ion-margin-bottom" *ngIf="programar">
      <ion-item>
        <ion-datetime display-format="YYYY-MM-DD" locale="es-ES" [(ngModel)]="fechaSelect" min="{{disableDate}}"
          required><span slot="title">Seleccione la fecha de Programación</span><span slot="time-label">Hora</span></ion-datetime>
      </ion-item>
    </ion-item>

    <!-- <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="Imagen de Portada" [(ngModel)]="comunicado.img" required></ion-input>
    </ion-item> -->

           <ion-item class="ion-margin-bottom">
            <ion-label>
    <p>Seleccionar Imagen Principal</p>
  </ion-label>
      <ion-input type="file" accept=".jpg,.png" placeholder="Cargar Imagen Principal" (change)="onFileChangePrincipal($event)" required></ion-input>
    </ion-item>

        <ion-item class="ion-margin-bottom">
          <ion-label>
    <p>Seleccionar Galería de Imagenes</p>
  </ion-label>
      <ion-input type="file" accept=".jpg,.png" placeholder="Cargar Galeria" (change)="onFileChange($event)" multiple required></ion-input>
    </ion-item>

    <!-- <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="ID Galería FLICKR" [(ngModel)]="comunicado.link" required></ion-input>
    </ion-item> -->

    <ion-list *ngIf="instituto && userInfo.superadmin === false">
      <ion-item>
        <ion-select placeholder="Seleccione el/los grupos" [multiple]="true" (ionChange)="checkValue($event)">
          <ion-select-option *ngFor="let grupo of findNotGeneral(userInfo.grupos)" value="{{grupo}}" required>{{grupo}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

        <ion-list *ngIf="instituto && userInfo.superadmin === true">
      <ion-item>
        <ion-select placeholder="Seleccione el/los grupos" [multiple]="true" (ionChange)="checkValue($event)">
          <ion-select-option *ngFor="let grupo of instituto.grupos" value="{{grupo}}" required>{{grupo}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>



    <ion-button (click)="cargarGaleria()" expand="block" fill="clear" shape="round"
      [disabled]="!comunicado.titulo || !fecha || !imgg || !imgPrincipal || !comunicado.grupos">
      Cargar Galería
    </ion-button>


  </div>

</ion-content>
