<ion-header [translucent]="true">
  <app-upbar></app-upbar>
</ion-header>

<ion-content>
      <ion-grid *ngIf="cards">
      <ion-row>
        <ion-col size="4" class="title">Titulo</ion-col>
        <ion-col size="4" class="title">Fecha</ion-col>
        <ion-col size="4" class="title">Editar o Eliminar</ion-col>
      </ion-row>
      <hr class="hr">

      <div>
        <ion-row *ngFor="let data of cards">
          <ion-col size="4" >{{data.titulo}}</ion-col>
          <ion-col size="4" >{{data.fecha}}</ion-col>
          <ion-col size="1">
          <ion-icon id="click-trigger" name="create-outline" color="primary"></ion-icon>
          <ion-icon id="click-trigger" name="trash" color="danger" class="icon2"></ion-icon>
        </ion-col>
          <hr class="hr2">
        </ion-row>
      </div>
    </ion-grid>

</ion-content>
