.navImg {
  width: auto;
  height: 3rem;
  display: inline-block;
}

.instlogo {
  width: auto;
  height: 4rem;
  float: right;
  display: flex;
}

.upbar {
  height: auto;
  padding-bottom: 0;
}