.navImg {
  width: auto;
  height: 4rem;
  display: inline-block;
}

.instlogo {
  width: auto;
  height: 4rem;
  float: right;
  display: flex;
}

.upbar {
  height: auto;
  padding-bottom: 0;
}
.top {
  text-align: center;
}

.col{
  margin: 0;
  padding: 0;
}