.img {
    height: 6rem;
    width: auto;
}

.title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.loginBtn {
    margin-top: 50px;
    margin-bottom: 50px;
}

.forget {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn {
    margin-top: 50px;
    margin-bottom: 20px;
}

.maxDiv{
    max-width: 800px;
        display: block;
  margin-left: auto;
  margin-right: auto;
}

.label {
    font-size: 12px;
    text-align: end;
}

.note {
    font-size: 11px;
}

.noPaddingBottom{
    padding-bottom: 0;
}

.noPaddingtop {
    padding-top: 0;
}