.img {
    height: 6rem;
    width: auto;
}

.title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.loginBtn {
    margin-top: 50px;
    margin-bottom: 50px;
}

.forget {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn {
    margin-top: 50px;
    margin-bottom: 20px;
}