<ion-header>
  <ion-toolbar>
    <ion-title>Editar Datos de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <h3>Datos del Usuario:</h3>
  </ion-card-header>
    <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre" placeholder="Nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Documento</ion-label>
    <ion-input type="text" [attr.maxlength]="8" [(ngModel)]="cedula" placeholder="Documento"></ion-input>
  </ion-item>
    <ion-item>
    <ion-label position="floating">E-Mail</ion-label>
    <ion-input [(ngModel)]="email" placeholder="E-Mail" [disabled]="true"></ion-input>
  </ion-item>

  <ion-item *ngIf="instituto">
        <ion-select placeholder="Seleccione el/los grupos" [multiple]="true" (ionChange)="checkValue($event)">
          <ion-select-option *ngFor="let grupo of instituto.grupos" value="{{grupo}}" required>{{grupo}}
          </ion-select-option>
        </ion-select>
      </ion-item>

</ion-card>
        <ion-button (click)="updateUser()">Actualizar Usuario</ion-button>
  <ion-button (click)="back()" color="danger">Cancelar</ion-button>
</ion-content>
