<ion-header [translucent]="true">
  <app-upbar></app-upbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-chip color="secondary" (click)="back()" class="chip1">
    <ion-label>Volver Atras</ion-label>
    <ion-icon name="arrow-back-circle-outline" color="secondary"></ion-icon>
  </ion-chip>

  <ion-grid *ngIf="cards">
    <ion-row>
      <ion-col size="4" class="title">Titulo</ion-col>
      <ion-col size="4" class="title">Fecha Programada (Año-Mes-Dia-Hora)</ion-col>
      <ion-col size="4" class="title">Ver o Eliminar</ion-col>
    </ion-row>
    <hr class="hr">

    <div>
      <ion-row *ngFor="let data of cards">
        <ion-col size="4">{{data.titulo}}</ion-col>
        <ion-col size="4">{{data.date}}</ion-col>
        <ion-col size="1">
          <ion-icon id="click-trigger" name="eye-outline" color="primary" (click)="open(data)"></ion-icon>
          <!-- <ion-icon id="click-trigger" name="create-outline" color="primary" class="icon2" (click)="edit(data)"></ion-icon> -->
          <ion-icon id="click-trigger" name="trash" color="danger" class="icon2" (click)="del(data)"></ion-icon>
        </ion-col>
        <hr class="hr2">
      </ion-row>
    </div>
  </ion-grid>

</ion-content>

