.img {
    height: 6rem;
    width: auto;
}

.form {
    margin-top: 70px;
    margin-bottom: 50px;
}

.loginBtn {
    margin-top: 50px;
    margin-bottom: 20px;
}

.maxDiv{
    max-width: 800px;
        display: block;
  margin-left: auto;
  margin-right: auto;
}