.sub {
    text-align: end;
}

.card {
    min-height: 100px;
    margin-top: 0;
    margin-bottom: 0;
}

.title {
  font-size: 18px !important;
  margin-top: 25px;
  margin-bottom: 15px;
}
.label {
    font-size: 10px;
}

.chip {
    padding: 3px;
    border-radius: 10px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}