<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662199781443-u1093vbhtdvargiigqtbpevp4tp6ii84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662199781443-u1093vbhtdvargiigqtbpevp4tp6ii84</string>
	<key>API_KEY</key>
	<string>AIzaSyC_XA7fkVcKizfBN_nPNkXzTebpyY_OC00</string>
	<key>GCM_SENDER_ID</key>
	<string>662199781443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uy.notifika.notifika</string>
	<key>PROJECT_ID</key>
	<string>notifika-uy</string>
	<key>STORAGE_BUCKET</key>
	<string>notifika-uy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662199781443:ios:ddb094c75f9ebd044a2cf6</string>
</dict>
</plist>